@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Permanent+Marker&display=swap');
* {
	box-sizing: border-box;
}

.full-page{
	height: 100%;
	width: 100%;
}

.navbar
{
	display: flex;
    align-items: center;
	padding: 10px 10px;
	background-color:rgb(28, 168, 168);
	color: white;
	top: 0;
	width: 100%;
	overflow: hidden;
}

nav
{
    flex: 1;
    text-align: right;
}
nav ul 
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 50px;
	font-family: "Ubuntu",sans-serif,Verdana, Geneva, Tahoma;
}

nav ul li button
{
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
	font-family: "Ubuntu",sans-serif,Verdana, Geneva, Tahoma;
}
nav ul li button:hover
{
    color: wheat;
}

.loginbtn {
	display: flex;
	border:solid 2px;
	padding: 10px 10px;
	text-align: center;
	border-radius: 10px;
	font-size: medium;
	font-family:"Ubuntu",Verdana, Geneva, Tahoma, sans-serif;
	border-color: white;
	color: rgb(235, 245, 245);
	font-weight: bold;
    margin-left: 2.94rem;
}

.loginbtn:hover{
	background-color:white;
	color: #060606;
	font-weight: bold;
}  

.logo{
	text-align: center;
	margin-left: 3rem;
}
.section{
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;
}
.container{
    width: 60%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.content-section{
    float: left;
    width: 80%;
    margin-left: 10px;
}
body{
    background:rgb(236, 235, 235);
}

.image-section{
    float: right;
    width: 80%;
    }          
    .image-section img{
        width: 80%;
        height:auto;
        padding-left: 100px;
        float:right;
    }  
    .content-section .title{
        text-transform: uppercase;
        font-size:28px;
    }
    .content-section .content h3{
        margin-top: 20px;
        color: #5d5d5d;
        font-size: 21px;
    }
    .content-section .content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
    }
    .content-section .content .button{
        margin-top: 30px;
    }
    .content-section .content .button a{
        background-color: #3d3d3d;
        padding: 12px 40px;
        text-decoration: none;
        color: #fff;
        font-size: 25px;
        letter-spacing: 1.5px;
    }
    .content-section .content .button a:hover{
        background: #0bd4d4;
        box-shadow: 0 0 5px #2ab6b6, 0 0 25px #2ab6b6, 0 0 50px #2ab6b6, 0 0 200px #2ab6b6 ;
        
    }
    @media screen and (max-width:768px){
        .container{
            width:80%;
            display: block;
            margin: auto;
            padding-top: 50px;
        }
    .content-section{
        float: none;
        width:100%;
        display: block;
        margin: auto;
    }
    .image-section{
        float:right;
        width:100%;
    }
    .image-section img{
        width: 100%;
        height: auto;
        display: block;
        margin-top: 25px ;
    }
    .content-section .title{
        text-align: center;
        font-size: 19px;
    }
    .content-section .content .button{
        text-align: center;
    }
    .content-section .content .button a{
        padding: 9px 30px;
        
    }
    .content-section .social{
    text-align: center;
    } 
    }

    a:link{
        text-decoration: none;
    }
    .navbar a{
        color: white;
    }
    .navbar a:hover
    {
        color: wheat;
    }