
* {
	box-sizing: border-box;
}

.full-page{
	height: 100%;
	width: 100%;
}

.navbar
{
	display: flex;
    align-items: center;
	padding: 10px 10px;
	background-color:rgb(28, 168, 168);
	color: white;
	top: 0;
	width: 100%;
	overflow: hidden;
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul 
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 50px;
	font-family: "Ubuntu",sans-serif,Verdana, Geneva, Tahoma;
}

nav ul li button
{
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
	font-family: "Ubuntu",sans-serif,Verdana, Geneva, Tahoma;
}
nav ul li button:hover
{
    color: wheat;
}

.loginbtn {
	display: flex;
	border:solid 2px;
	padding: 10px 10px;
	text-align: center;
	border-radius: 10px;
	font-size: medium;
	font-family:"Ubuntu",Verdana, Geneva, Tahoma, sans-serif;
	border-color: white;
	color: rgb(235, 245, 245);
	font-weight: bold;
    margin-left: 2.94rem;
}

.loginbtn:hover{
	background-color:white;
	color: #060606;
	font-weight: bold;
}  

.logo{
	text-align: center;
	margin-left: 3rem;

}
.section{
    width: 100%;
    min-height: 100vh;
    font-family:"Ubuntu",Verdana, Geneva, Tahoma, sans-serif;

}
.container1{
    width: 60%;
    display: block;
    margin: auto;
    padding-top: 80px;
    color: white;
    float: left;
    width: 80%;
    margin-left: 20px;
}
.container1 p{
    text-align: justify;
    margin-bottom: 5px;
}
.content-section{
    float: left;
    width: 80%;
    margin-left: 40px;
}

.image-section{
    float: right;
    width: 70%;
    position: absolute;
    right:40px;
    padding-top: 65px;
    }          
.image-section img{
    width: 75%;
    height:auto;
    padding-left: 100px;
    float:right;
    
}  
.button{
    border:solid 1px;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: medium;
    font-family:"Ubuntu",Verdana, Geneva, Tahoma, sans-serif;
    border-color: white;
    background-color: rgb(28, 168, 168);
    font-weight: bold;
    color: white;
}
.button:hover{
background-color:white;
color: #060606;
font-weight: bold;
    
}
#check{
    display: none;
}
.content1{
    display: none;
    transition: 0.5s linear;
}
label{
    display: inline-block;
    cursor: pointer; 
    margin-top: 10px;

}
#check:checked ~ .content1{
    display: block;
}
#check:checked ~ label{
    visibility: hidden;
}

#check:checked ~ label:after{
    content: 'Show Less'; 
    display: flex;
    visibility: visible;
    border: solid 1px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: medium;
    background-color: rgb(28, 168, 168);
    font-weight: bold;
    font-family:"Ubuntu",Verdana, Geneva, Tahoma, sans-serif;
    
}
#check:checked~label:after:hover{
    background-color:white;
    color: #060606;
    font-weight: bold; 
}

    a:link{
        text-decoration: none;
    }
    .navbar a{
        color: white;
    }
    .navbar a:hover
    {
        color: wheat;
    }