* {
	box-sizing: border-box;
}

.full-page{
	height: 100%;
	width: 100%;
}

.navbar
{
	display: flex;
    align-items: center;
	padding: 10px 10px;
	background-color:rgb(28, 168, 168);
	color: white;
	top: 0;
	width: 100%;
	overflow: hidden;
}

nav
{
    flex: 1;
    text-align: right;
}
nav ul 
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 50px;
	font-family: "Ubuntu",sans-serif,Verdana, Geneva, Tahoma;
}

nav ul li button
{
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
	font-family: "Ubuntu",sans-serif,Verdana, Geneva, Tahoma;
}
nav ul li button:hover
{
    color: wheat;
}

.loginbtn {
	display: flex;
	border:solid 2px;
	padding: 10px 10px;
	text-align: center;
	border-radius: 10px;
	font-size: medium;
	font-family:"Ubuntu",Verdana, Geneva, Tahoma, sans-serif;
	border-color: white;
	color: rgb(235, 245, 245);
	font-weight: bold;
    margin-left: 2.94rem;
}

.loginbtn:hover{
	background-color:white;
	color: #060606;
	font-weight: bold;
}  

.logo{
	text-align: center;
	margin-left: 3rem;

}

.details {
    width: 70%;
    margin: 25px auto;
    font-weight: bold;
    flex: 1;
    font-weight: bolder;
	font-family:"Ubuntu",Verdana, Geneva, Tahoma, sans-serif;

}

.contact-box{
    background: white;
    display: flex;
    border-radius: 15px;
    
}
.contact-left{
    flex-basis: 60%;
    padding: 20px 40px;
    border-radius: 15px;
    color: black;
}
.contact-right{
    flex-basis: 50%;
    padding: 30px 30px;
    background: rgb(28, 168, 168);
    color: #fff;
    border-radius: 15px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

}
.input-row .input-group{
    flex-basis: 45%;
    
}
input{
    width: 100%;
    outline: none;
    padding-bottom: 5px;
}
input#name{
    padding: 5px 10px ;
    border-radius: 7px;
    background-color: white;
    font-size: 15px;
    color: black;
    border: solid 1px black;
}
textarea{
    width: 100%;
    border: solid 1px black;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 7px;
    background-color: white;
    font-size: 15px;
    color: black;
}
label{
    margin-bottom: 6px;
    display: block;
    color: black;
    
}

.contact-left h4{
    color: rgb(28, 168, 168);
    font-weight: 500;
    margin-bottom: 30px;
    font-weight: normal;
    
}
.contact-right h4{
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}
.details a {
	border:solid 1px;
	padding: 7px 20px;
	text-align: center;
	border-radius: 10px;
	font-size: medium;
	font-family:"Ubuntu",Verdana, Geneva, Tahoma, sans-serif;
	border-color: white;
	background-color: rgb(28, 168, 168);
	font-weight: bold;
    color: white;
}
.details a:link{
    text-decoration: none;
	color: white;
}
.details a:hover {
    background-color: black;
	color: white;
	font-weight: bold;
}
a:link{
	text-decoration: none;
}
.navbar a{
    color: white;
}
.navbar a:hover
{
    color: wheat;
}