*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar h1{
    font-size: 40px;
    color: white;
	text-align: center;
}
.full-page
{
	height: 100%;
	width: 100%;
	background-image: url(".jpg");
	background-position: center;
	background-size: cover;
	position: absolute;
}
.navbar
{
	display: flex;
    align-items: center;
	padding: 20px 20px;
    padding-top: 10px;
	padding-bottom: 10px;
	background-color:rgb(28, 168, 168);
	color: white;;
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul 
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 50px;
	font-family: "Comme";
}
nav ul li button
{
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}
nav ul li button:hover
{
    color: wheat;
}
#login-form
{
    display: none;
}
.loginbtn {
	display: flex;
	border:solid 1px;
	padding: 10px 10px;
	text-align: center;
	border-radius: 3px;
	font-size: medium;
}

p{
    flex: 1;
    text-align: center;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(28, 168, 168);
    font-weight: bolder;
}
/*for location selection*/
/* Styling for the dropdowns */
select {
    border: 4px solid rgb(29, 138, 185);
    border-radius: 8px;
    padding: 5px 10px;
    width: 180px;
    font-weight: bold;
    font-size: 15px;
    color: rgb(255, 0, 0);
}
option {
    padding: 5px;
    font-size: 15px;
    color: rgb(17, 2, 225) ;
    background-color: rgb(1, 225, 225);
}

a {
    color: black;
    background-color: rgb(255, 255, 255); /* Green background color */
    border: none; /* No border */
    padding: 10px 20px; /* Padding around the text */
    font-weight: bolder;
    text-align: center;
    display: inline-block; /* Display as a block element */
    font-size: 16px; /* Font size of the text */
    border-radius: 7px; /* Rounded corners */
    cursor: pointer; /* Show cursor as a pointer */
}
a:link{
    text-decoration: none;
}
a:hover:hover {
    background-color: rgb(28, 168, 168); /* Darker green on hover */
    text-decoration: none;
}
a:active:active {
    background-color: rgb(255, 0, 0); /* Even darker green on click */
    text-decoration: none;
}