* {
	box-sizing: border-box;
}

.full-page{
	height: 100%;
	width: 100%;
}

.navbar
{
	display: flex;
    align-items: center;
	padding: 10px 10px;
	background-color:rgb(28, 168, 168);
	color: white;
	top: 0;
	width: 100%;
	overflow: hidden;
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul 
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 50px;
	font-family: "Ubuntu",sans-serif,Verdana, Geneva, Tahoma;
}

nav ul li button
{
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
	font-family: "Ubuntu",sans-serif,Verdana, Geneva, Tahoma;
}
nav ul li button:hover
{
    color: wheat;
}


.loginbtn {
	display: flex;
	border:solid 2px;
	padding: 10px 10px;
	text-align: center;
	border-radius: 10px;
	font-size: medium;
	font-family:"Ubuntu",Verdana, Geneva, Tahoma, sans-serif;
	border-color: white;
	color: rgb(235, 245, 245);
	font-weight: bold;
}

.loginbtn:hover{
	background-color:white;
	color: #060606;
	font-weight: bold;
}

.logo{
	text-align: center;
	margin-left: 3rem;

}

::placeholder{
	color: black;
	font-family:"Rajdhani",Arial, Helvetica, sans-serif;
}

.submit-btn{
	margin: 10px;
}

.back-image{
	position: relative;
	background-repeat: no-repeat;
}

.carousel{
	height: 50%;
	width: 50%;
	margin: auto;
	padding-bottom: 4rem;
}

.center-txt h2{
	font-family: "Bebas Neue",sans-serif;
	text-align: center;
	letter-spacing: 2px;
	font-style: bold;
	margin:2rem 2rem;
	color: white;
}

.center-txt p{
	font-family: "Comme",Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	margin: 3rem 3rem;
	letter-spacing: 1px;
	color: white;
}
 .features{
	margin: auto 5rem;
	display: flex;
	justify-content: center;
	font-family: "Ubuntu";
	letter-spacing: 1px;
	font-weight:bolder;
	font-size:large;
	flex-direction: row;
}

.more-bookings{
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 4rem;
	margin-right: 5rem;
	width: fit-content;
}

.back-image{
	display: flex;
	flex-direction: row;
	float: left;
	margin-bottom: 3rem;
}
.save-time{
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 4rem;
	margin-right: 5rem;

}

.payments{
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 5rem;
	
}

a:link{
	text-decoration: none;
}
.navbar a{
    color: white;
}
.navbar a:hover
{
    color: wheat;
}
